name: Gitleaks SAST scan
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions: read-all

jobs:
  gitleaks:
    name: Gitleaks SAST scan
    permissions:
      pull-requests: write
    uses: fish-shop/workflows/.github/workflows/gitleaks.yml@1684123c55a348a8c85e465fcdb3d817875dddae # v1.13.41
    secrets:
      gitleaks_license: ${secrets.GITLEAKS_LICENSE}
