name: Gitleaks SAST scan
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions: read-all

jobs:
  gitleaks:
    name: Gitleaks SAST scan
    permissions:
      pull-requests: write
    uses: fish-shop/workflows/.github/workflows/gitleaks.yml@571449a99e479705fcb6bb56c07f6c16cc9bf00c # v1.13.37
    secrets:
      gitleaks_license: ${secrets.GITLEAKS_LICENSE}
