name: OpenSSF Scorecard Analysis
on:
  branch_protection_rule:
  schedule:
    - cron: '0 3 * * 1'
  push:
    branches: [ "main" ]

permissions: read-all

jobs:
  analysis:
    name: OpenSSF Scorecard Analysis
    permissions:
      security-events: write # Needed to upload the results to code scanning dashboard
      id-token: write # Needed to publish results to OpenSSF API and get a badge
    uses: fish-shop/workflows/.github/workflows/openssf-scorecard.yml@901283c1d75a61e84bbe58fbf5438498b86abb20 # v1.13.39
