name: Release tag management
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
jobs:
  update-tags:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: vweevers/additional-tags-action@v1
